#game-screen,
#game-over-screen,
#game-area {
  position: relative;
  background: linear-gradient(135deg, #FFE6E6, #FFABE1, #A685E2, #6155A6);
  overflow: hidden;
  margin: 0 auto;
}

#start-screen, #instructions-screen, #game-over-screen,
#game-area {
  background: linear-gradient(135deg, #FFE6E6, #FFABE1, #A685E2, #6155A6);
  width: 100%;
  height: 100%;
}
